<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title><%= pageTitle %> || crave farms</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Roboto&family=Shrikhand&family=Rubik+Mono+One&family=Eczar&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a30d24ad6e.js" crossorigin="anonymous"></script>
</head>

<body>
<header>
    <div class="header">
        <div class="banner">
            <img src="../img/banner-homepage.png" alt="pleasant photo of a farm" class="banner__img">
        </div>

        <h1 class="title"><%= pageTitle %></h1>

        <nav class="nav">
            <ul class="nav__menu">
                <li class="nav__menu--item"><a href="/">home</a></li>
                <li class="nav__menu--item"><a href="/products">shop</a></li>
                <li class="nav__menu--item"><a href="/contact">contact</a></li>
                <li class="nav__menu--item"><a href="/search"><i class="fas fa-search"></i></a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="wrapper">

    <main class="product-detail">

        <div class="product-detail__photos">
            <img src="../img/<%= data[0].imageUrl %>" alt="<%= data[0].title %>" class="product-detail__photos--img">
        </div>

        <div class="product-detail__form">

            <h2><%= data[0].title %></h2>

            <form class="product-detail__form--form">

                <p class="product-detail__form--type">$<%= data[0].price %></p>

                <div class="product-detail__form--qty">
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="10">
                </div>

                <div class="product-detail__form--text">
                    <p><%= data[0].brief %></p>                    
                </div>

                <input type="submit" value="add to cart" class="product-detail__form--btn">

            </form>
        </div>

    </main>
</div>

<%- include('./includes/footer.ejs') %>
